@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap');

body{
    background-color: violet;
    color: white;
}
.main h2{
    margin: 0;
    font-size: 30px;
}
.main{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
button{
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    margin: 1px;
}
.text-section{
    color: black;
}
#computer-choice{
    color: rgb(149, 0, 248);
}
#user-choice{
    color: rgb(56, 0, 209);
}
#result{
    color: rgb(249, 253, 24);
}