@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(-45deg, var(--gri-1), var(--gri-2), var(--gri-3));
  background-size: 350% 350%;
  height: 100vh;
  animation: gradient 15s ease infinite;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#0548b4, #1d61aa);  
}

.main table{
  border-collapse: collapse;
}
table.list{
  width:100%;
}

td, th {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
  background-color: #2861b7;
  color: white;
}
label{
  color: whitesmoke;
  font-weight: bold;
}
input[type=text], input[type=number],input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(204, 204, 204, 0.573);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 12px 500px -3px #1b1b1b ;
}


input[type=submit]{
  width: 40%;
  background-color: rgb(30, 89, 177);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 12px 22px -3px #1b1b1b;
}

form div.form-action-buttons{
  text-align: right;
}

a{
  cursor: pointer;
  color: #efefef;
  margin-right: 4px;
  text-decoration: none;
}

label.validation-error{
  color:   red;
  margin-left: 5px;
}

.hide{
  display:none;
}