@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap');

body{
    background-color: violet;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.main h2{
    margin: 0;
    font-size: 30px;
    color:black;
}
.main{
    
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text-section{
    display: inherit;
    flex-direction: row;
    gap: 125px;
}
button{
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    margin: 1px;
}
#computer-choice{
    color: rgb(102, 10, 10);
}
#user-choice{
    color: rgb(255, 255, 255);
}
#result{
    color: rgb(249, 253, 24);
}
#score{
    color: cornsilk;
}
.image-display{
    display: flex;   
    width: 1000px;
    height: 250px;
    justify-content: center;
}

img{
    width: 250px;
    height: 250px;
    margin: 2px;
}