<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="games.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico?" />
    <title>-l||l-</title>
  </head>
  <body>
    <div class="bg-bubbles">
      <div class="bubble1"></div>
      <div class="bubble2"></div>
      <div class="bubble3"></div>
    </div>
    <div class="wrapper">
      <div class="container">
        <a class="box" href="/view/Games/BO/bo.html">
          <div class="content">
            BREAKOUT
          </div>
        </a>
        <a class="box" href="/view/Games/KO/KO.html">
          <div class="content">
            KNOCKOUT
          </div>
        </a>
        <a class="box" href="/view/Games/PT/pt.html">
          <div class="content">
            PAIR TWO
          </div>
        </a>
        <a class="box" href="/view/Games/RPC/rpc.html">
          <div class="content">
            RPC
          </div>
        </a>
        <a class="box" href="/view/Games/WM/wm.html">
          <div class="content">
            WH
          </div>
        </a>
      </div>
    <script src="socials.js"></script>
  </body>
</html>
