body{
    background-color: rgb(26, 16, 53);
    color: whitesmoke;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:30px 10px;
    
}
#gameover{
    color: rgb(28, 180, 122);
}
#grid{
    height: 310px;
    max-width: 100%;
    display: inline-flex;
    border: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
img{
    height: 100px;
    width: 100px;
    margin: 3px;
    box-shadow: rgb(22, 11, 41) 0px 20px 30px -10px;
}